/* Main Stylesheet Questionary */

/* Base & Variables */
@import 'css/variables.css';

/* Components */
@import 'css/components/topbar.css';
@import 'css/components/buttons.css';
@import 'css/components/inputs.css';
@import 'css/components/cards.css';
@import 'css/components/sidebar.css';
@import 'css/components/footer.css';

/* Page Specific Styles */
@import 'css/pages/home.css';
@import 'css/pages/dashboard.css';
@import 'css/pages/editor.css';
@import 'css/pages/settings.css';
@import 'css/pages/analysis.css';